<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="outRollingRandomAccessFile"
			fileName="/data01/audit/logs/audit/out.log"
			filePattern="/data01/audit/logs/audit/$${date:yyyy-MM}/out-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="msgRollingRandomAccessFile"
			fileName="/data01/audit/logs/audit/msg.log"
			filePattern="/data01/audit/logs/audit/$${date:yyyy-MM}/msg-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="errRollingRandomAccessFile"
			fileName="/data01/audit/logs/audit/err.log"
			filePattern="/data01/audit/logs/audit/$${date:yyyy-MM}/err-%d{MM-dd-yyyy}-%i.log.gz">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="6"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="125" />
		</RollingRandomAccessFile>
<!-- 		<Async name="Async">
			<AppenderRef ref="databaseAppender" />
		</Async>
		<Failover name="Failover" primary="Async">
			<Failovers>
				<AppenderRef ref="outRollingRandomAccessFile" />
			</Failovers>
		</Failover> -->
		<SMTP name="Mail" subject="审核生产系统接收发生错误" to="jia.miao@dataup.cn,yaming.xu@dataup.cn,ang.ji@dataup.cn"
			from="noreply@dataup.cn" smtpHost="smtp.mxhichina.com" smtpPort="25"
			smtpUsername="noreply@dataup.cn" smtpPassword="1qaz2wsx3edc!" bufferSize="50">
		</SMTP>

	</Appenders>
	<Loggers>
		<logger name="org.apache.ibatis" level="DEBUG">
		</logger>
		<logger name="java.sql" level="DEBUG">
		</logger>
		<logger name="com.autonavi.audit" level="TRACE">
		</logger>
		<logger name="com" level="ERROR">
			<AppenderRef ref="errRollingRandomAccessFile" />
		</logger>
		<logger name="org" level="ERROR">
			<AppenderRef ref="errRollingRandomAccessFile" />
		</logger>
		<logger name="com.autonavi.audit.service" level="TRACE">
		</logger>
		<logger name="com.autonavi.audit.mq.RabbitMQUtils" level="TRACE">
			<AppenderRef ref="msgRollingRandomAccessFile" />
		</logger>
		<logger name="com.autonavi.audit.mq.RabbitMQUtils" level="ERROR">
			<AppenderRef ref="Mail" />
		</logger>
		<logger name="org.crazycake.shiro" level="debug"/>
		<Root level="info">
			<AppenderRef ref="outRollingRandomAccessFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>

